# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Keep pubspec.lock for reproducible builds
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# macOS
macos/Pods/
macos/Flutter/ephemeral/
.DS_Store
__MACOSX/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Test coverage
coverage/
