// Application-level settings for the Runner target.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = AlphaFix

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = com.alphafix.alphafix

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © AlphaFix. Developed by Meghana.
